@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: Nunito;
    margin: 0;
    padding: 0;
}
.buttons{
    display:grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 5px;
}
.buttons button{
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    transition: 0.3s;
    cursor:pointer;
}
.grey{
    background-color: #a7a7a7;
}
.orange{
    background-color: #ffa624;
    color: white;
}
.dgrey{
    background-color: #333333;
    color: white;
}
.app{
    background-color: black;
    width: 215px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 25px 3px black;
}
.buttons button:nth-child(17){
    grid-column: span 2;
    text-align: left;
    padding-left: 20px;
}
.buttons button:active{
    transform: scale(0.92);
}
.user-input{
    padding: 10px;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    caret-color: black;
}
.input-field{
    padding: 40px 0 10px 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}